<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Title %><br>
    <%= f.text_field :Title %>
  </div>
  <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_field :Description %>
  </div>
  <div class="field">
    <%= f.label :Address %><br>
    <%= f.text_field :Address %>
  </div>
  <div class="field">
    <%= f.label :Latitude %><br>
    <%= f.number_field :Latitude, max:90, min:-90 %>
  </div>
  <div class="field">
    <%= f.label :Longitude %><br>
    <%= f.number_field :Longitude, max:180, min:-180 %>
  </div>
  <div class="field">
    <%= f.label :Category %><br>
    <%= f.select :Category, [['Party','Party'],['Emergency','Emergency']] %>
  </div>
  
  <div>
    
  <div class="field" style="float: left">
    <%= f.label :Day %><br>
    <%= f.select :Day, ((1..31).map {|i| [i,i] } ) %>
  </div>
  <div class="field" style="float: left">
    <%= f.label :Month %><br>
    <%= f.select :Month, (1..12).map {|i| [I18n.t("date.month_names")[i], i]} %>
  </div>
  <div class="field" style="float: left">
    <%= f.label :Year %><br>
    <%= f.select :Year, ((2015..2100).map {|i| [i,i] } )%>
  </div>
  </div>
  <div class="actions" style="clear: left">
    <%= f.submit %>
  </div>
<% end %>
