<style>
  #map {
    float:left;
    padding:5px;
    width:49%;
    margin:0px;
  }
  #form {
    float:left;
    padding:5px;
    width:49%;
    margin:0px;
  }
  #content {
    width:100%;
    padding:10px;
  }
  #latlong {
    width:100%;
  }
  #month {
    width:100%;
  }
  #time {
    width:100%;
  }
</style>


<div id="content">
  <div id="map">
    <p><strong>Google Maps goes here</strong></p>
  </div>
  
  <div id="form">
    <%= form_for(@event) do |f| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
    
          <ul>
          <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="field">
        <%= f.label :Title %><br>
        <%= f.text_field :Title, :size => 50 %>
      </div>
      <div class="field">
        <%= f.label :Description %><br>
        <%= f.text_field :Description, :size => 50 %>
      </div>
      <div class="field">
        <%= f.label :Address %><br>
        <%= f.text_field :Address, :size => 50 %>
      </div>
    
      
      <div class="field">
        <%= f.label :Category %><br>
        <%= f.select :Category, ['Concert','Emergency','Festival','Party'] %>
      </div>
      
      <div id="latlong">
        <center>
        <div class="field" style="float:left; width:50%">
          <%= f.label :Latitude %><br>
          <%= f.number_field :Latitude, max:90, min:-90 %>
        </div>
        <div class="field" style="float:left; width:50%">
          <%= f.label :Longitude %><br>
          <%= f.number_field :Longitude, max:180, min:-180 %>
        </div>
        </center>
      </div>
      
      <div id="month">
        <div class="field" style="float: left; width:33%">
          <%= f.label :Day %><br>
          <%= f.select :Day, ((1..31).map {|i| [i,i] } ) %>
        </div>
        <div class="field" style="float: left; width:33%">
          <%= f.label :Month %><br>
          <%= f.select :Month, (1..12).map {|i| [I18n.t("date.month_names")[i], i]} %>
        </div>
        <div class="field" style="float: left; width:33%">
          <%= f.label :Year %><br>
          <%= f.select :Year, ((2015..2100).map {|i| [i,i] } )%>
        </div>
      </div>
      
      <div id="time">
        <div class="field" style="float: left; width:50%">
          Starting Time:<br>
          <%= f.number_field :StartHour, max:23, min:0 %>:<%= f.number_field :StartMinute, max:59, min:0 %>
        </div>
        <div class="field" style="float: left; width:50%">
          Ending Time:<br>
          <%= f.number_field :EndHour, max:23, min:0 %>:<%= f.number_field :EndMinute, max:59, min:0 %>
        </div>
      </div>
      
      <div class="actions">
        <%= f.submit %>
      </div>
      
    <% end %>
  </div>
</div>