<!DOCTYPE html>
<html lang="en-US">
<style>

  table {
    border-collapse: collapse;
  }

  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
  }
  
</style>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map {
        margin: 0;
        padding: 0;
        height: 100%;
      }
      
        #links {
        font-family: Arial, sans-serif;
        font-size: 15px;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
      }
      #links h3 {
        margin-top: 0;
      }
      #links img {
        vertical-align: middle;
      }
        
        
        
        
    </style>
    <script>
      var map;
      function initialize() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: new google.maps.LatLng(49.2780937,-122.922072),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });
                  
          var linkIcons = {
          Login: {
              name:'<a href="login">Login</a>'
          },Logout: {
            name:'<a href="logout">Logout</a>'
          },
          Signup: {
              name:'<a href="register">Sign up</a>'
          },
          EventsLists: {
              name:'<a href="events">Edit Events</a>'
          },
          Notifications: {
              name:'<a href="events">Notifications</a>'
          }
        };

        var links = document.getElementById('links');
        for (var key in linkIcons) {
          var type = linkIcons[key];
          var name = type.name;
          var div = document.createElement('div');
          div.innerHTML = name;
          links.appendChild(div);
        }
          
                
        map.controls[google.maps.ControlPosition.LEFT_TOP].push(links);
          
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Category</th>
      <th>Day</th>
      <th>Month</th>
      <th>Year</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.Title %></td>
        <td><%= event.Description %></td>
        <td><%= event.Address %></td>
        <td><%= event.Latitude %></td>
        <td><%= event.Longitude %></td>
        <td><%= event.Category %></td>
        <td><%= event.Day %></td>
        <td><%= event.Month %></td>
        <td><%= event.Year %></td>
        <td><%= event.StartHour %>:<%= event.StartMinute %></td>
        <td><%= event.EndHour %>:<%= event.EndMinute %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
