<script>
  $(function() {
    $( "#select-start-date" ).datepicker({minDate: 0, dateFormat: 'yy-mm-dd'});
    $( "#select-end-date" ).datepicker({minDate: 0, dateFormat: 'yy-mm-dd'});
  });
</script>
<div class="col-lg-4">
    <div class="well bs-component">
        <%= form_for(@event) do |f| %>
            <% if @event.errors.any? %>
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h4>
                    <ul>
                        <% @event.errors.full_messages.each do |message| %>
                            <li>
                                <%= message %>
                            </li>
                        <% end %>
                    </ul>
                </div>
                <% end %>
                    <div class="field">
                        <span style="color: white">Title</span>
                        <br>
                        <%= f.text_field :Title, class:"form-control", placeholder:"Title"  %>
                    </div>
                    <div class="field">
                        <span style="color: white">Description</span>
                        <br>
                        <%= f.text_area :Description, class:"form-control", rows:"3", placeholder:"Description" %>
                    </div>
                    <div class="field">
                        <span style="color: white">Address/Location</span>
                        <br>
                        <%= f.text_field :Address, class:"form-control", placeholder:"Address" %>
                    </div>


                    <div class="field">
                        <span style="color: white">Category of Event</span>
                        <br>
                        <%= f.select( :Category, ['Market', 'Concert','Emergency','Festival','Party', 'Expo', 'Other', 'Sporting', 'Charity'],{},  { :class => 'form-control', :id => 'select' }) %>
                    </div>

                    <div>
                        <div class="field" style="float: left">
                            <span style="color: white">Latitude</span>
                            <br>
                            <%= f.number_field :Latitude, max:90, min:-90, step: 0.000001, class:"form-control" %>
                        </div>
                        <div class="field" style="float: right">
                            <span style="color: white">Longitude</span>
                            <br>
                            <%= f.number_field :Longitude, max:180, min:-180, step: 0.000001, class:"form-control" %>
                        </div>
                    </div>

                    <div style="clear:both" class="form-inline">
                        <div class="field" style="float: left">
                            <span style="color: white">Starting Date</span>
                            <br>
                            <%= f.text_field :StartDate,  { :class => 'form-control', :id => 'select-start-date'} %>
                        </div>
                    </div>

                    <div style="clear: both" class="form-inline">
                        <div class="field" style="float: left">
                            <span style="color: white">Ending Date</span>
                            <br>
                          <%= f.text_field :EndDate,  { :class => 'form-control', :id => 'select-end-date'} %>
                        </div>
                    </div>

                    <div style="clear: both">
                        <div class="field" style="float: left">
                            <span style="color: white">Starting Time</span>
                            <br>
                            <%= f.time_field :StartTime, class:"form-control" %>
                        </div>
                        <div class="field" style="float: right">
                            <span style="color: white">Ending Time</span>
                            <br>
                            <%= f.time_field :EndTime, class:"form-control" %>
                        </div>
                    </div>
                    
                    <div class="field" style="clear: both">
                        <span style="color: white">Private (Friends Only)</span><br>
                        <%= f.check_box :id_private %>
                    </div>

                    <div class="actions" style="clear: both"><br>
                        <button type="reset" class="btn btn-warning">Clear</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>

                    <% end %>
    </div>
</div>
<div style="float:left">
</div>