<h1>Login</h1>
<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<script>
    $(document).ready(function() {
        $('#login_form').on('ajax:success', function (event, data, status, xhr) {
            $('#messages').html('<b>' + data.message + '</b>');
            // Delay the redirect to inform user of successful login.
            setTimeout(function() { window.location.replace(data.redirect) }, 1000);
        });
        $('#login_form').on('ajax:error', function (event, data, status, xhr) {
            $('#messages').html('<b>' + data.responseJSON.message + '</b>');

            <% #Change focus and select the text of either username or password %>
            if (!$('#session_username').val() || !$('#session_password').val())
                $('#session_username').focus().select();
            else
                $('#session_password').focus().select();
        });
    });
</script>
<div id="messages"></div>
<%= form_for :session, url: login_path, html: {id: 'login_form', :'data-type' => 'json'}, remote: true do |f| %>
    <div class="field">
      <%= f.label :username %><br>
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :remember_me %><br>
      <%= f.check_box :remember_me %>
    </div>
    <div class="actions">
      <%= f.submit 'Login' %>
    </div>
<% end %>
<%= link_to 'Not a user? Sign up here.', register_path %>