<%= form_for @report, html: {id: 'report_form', :'data-type' => 'json'}, remote: true do |f| %>
    <div id="messages">
      <% if @report.errors.any? %>
          <h4><%= pluralize(@report.errors.count, "error") %> prohibited this report from being submitted:</h4>

          <ul>
            <% @report.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>
    </div>

    <div class="field">
      <span style="color: white">Please explain why this event should be removed:</span><br>
      <%= f.text_area :description, class:"form-control", placeholder:"Description"  %>
    </div>
    <%= f.hidden_field :event_id, :value => params[:id]  %>
    <div class="actions">
      <br>
      <%= f.submit value: button_name, class:"btn btn-success", style:"color:white" %>
    </div>
<% end %>