<!DOCTYPE html>
<html>
<head>
  <title>EventsHub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">EventsHub</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Events<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "View Events", events_path %>></li>
            <li><%= link_to "Create Event", new_event_path %></li>
          </ul>
        </li>
        <% if logged_in? %>
        <li><%= link_to "Profile", profile_path %></li>
        <li><%= link_to "User",   '#' %></li>
        <% end %>
      </ul>
      <form class="navbar-form navbar-right" role="Search">
        <div class="form-group">
          <input class="form-control" placeholder="Search" type="text">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if !logged_in? %>
          <li><%= link_to "Sign up", register_path %></li>
          <li><%= link_to "Login", login_path %></li>
        <% else %>
          <% if current_user.is_administrator? %>
            <li><%= link_to "Panel", admin_path %></li>
          <% end %>
          <li><%= link_to "Logout", logout_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<% if logged_in? and !current_user.is_validated? %>
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <b>Please validate your email!</b>
</div>
<% end %>
<% flash.each do |name, msg| -%>
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <b><%= msg %></b>
    </div>
<% end -%>

<%= yield %>

</body>
</html>
